* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    outline: none;
}

body {
    background-color: black;

}

.container {
    max-width: 1400px;

    margin: 0 auto;



}


.header {
    margin-bottom: 100px;
    padding: 40px 40px;

    display: flex;
    justify-content: center;
    position: relative;
}







.header__list {
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    width: max-content;
    list-style: none;
    gap: 20px;
    display: flex;
    background-color: #FFFFFF33;
    width: 551;
    height: 59;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    margin-top: 0px;
    opacity: 1;
    border-radius: 48px;
    border-width: 1px;

    z-index: 1;
}

.header::after {
    content: "";

    position: absolute;
    top: 40%;
    left: 22%;
    transform: translateX(-20%);
    transform: translatey(-43%);

    width: 700px;
    height: 600px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(163, 220, 47, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.gridlar {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 40px;
}

.ota {

    display: grid;
    gap: 15px;
    width: 100%;
}

.bola {

    background-color: #161616;
    border: 1px solid #333333;
    border-radius: 20px;
    min-height: 100px;

}

.chizu {
    width: 280px;
}

.oyli {
    width: 550px;
    border-radius: 20px;
}




.grid__title {
    margin-bottom: 15px;
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 17.86px;
    line-height: 25.2px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}

.grid__info {
    margin-bottom: 25px;
    color: #9B9CA1;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}

.bola-1,
.bola-2,
.bola-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

}

.bola-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;


}

.bola-2 {
    grid-column: 2 / 4;
    grid-row: 1/ 2;

}

.bola-3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;

}

.bola-4 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    position: relative;
}

.bola-5 {
    grid-column: 3 / 5;
    grid-row: 2 / 3;

}

.header__border {
    padding: 0px;
    width: max-content;
    height: max-content;
    margin: 0 auto;
    border: 1px solid #d1f7866d;
    border-radius: 30px;
    backdrop-filter: blur(65.30000305175781px);

}


.header__item {
    color: white;
}

.header__btn {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 7px;
}

.big__title {

    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    color: white;
    line-height: 50px;
    letter-spacing: 0%;

}

.big__info {
    margin-top: 20px;
    font-weight: 400;

    font-size: 16px;
    color: #828282;
    line-height: 36px;
    letter-spacing: 0%;

}


.norm__title {
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;

    line-height: 42px;
    letter-spacing: 0%;

}

.norm__info {

    font-weight: 400;

    font-size: 16px;
    color: #828282;
    line-height: 36px;
    letter-spacing: 0%;

}

.bola-4,
.bola-5 {
    padding: 40px 20px;
}

.big__btn {
    margin-top: 30px;
    padding: 15px 20px;

    font-weight: 600;

    font-size: 14px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: none;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

}

.dumaloq {
    width: 210px;
}

.sale {
    position: absolute;
    bottom: 0px;
    width: 250px;
}

.group {
    position: absolute;
    bottom: 30px;
    left: 300px;
    width: 250px;

}

.head {
    background-color: #0F0F0F;
    backdrop-filter: blur(10px);

    max-width: 1400px;
    min-width: 1240px;
}

.head__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

}

.head__list {
    display: flex;
    gap: 30px;
    list-style: none;
}

select {
    background-color: transparent;
    border: none;
    color: #9B9CA1;
    text-decoration: none;
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;

    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
}



.head__link {
    color: #9B9CA1;
    text-decoration: none;
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;

    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.head__btn {
    width: 136px;
    height: 52px;
    background-color: #1F1F1F;
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #FBFBFB;
    line-height: 19.2px;
    letter-spacing: 0%;
    vertical-align: middle;
    border: none;
    opacity: 1;

    border-radius: 64px;

}

.hero {
    text-align: center;
    background-color: #1D1C20;
    padding-top: 100px;
    padding-bottom: 60px;
}

.hero__title {
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    color: #fff;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;

}

.hero__txt {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    color: #9B9CA1;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

}

.hero__new {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    color: #fff;
    line-height: 16.8px;
    letter-spacing: 0%;
    vertical-align: middle;
    background-color: #A3DC2F;
    width: 45px;
    height: 25px;

    opacity: 1;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    border-radius: 64px;

}

.hero__top {
    width: 280px;
    height: 33px;
    background-color: #171F05;
    padding-left: 8px;
    opacity: 1;
    gap: 10px;
    align-items: center;
    display: flex;
    border-radius: 32px;
    color: #A3DC2F;
    margin: 0 auto;

    margin-bottom: 14px;
}

.hero__intro {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    color: #A3DC2F;
    line-height: 16.8px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.hero__search {
    margin: 50px auto;
    text-align: center;
    background-color: #242424;
    width: 640px;
    height: 72px;
    padding-right: 10px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;

}

.hero__input {
    background-color: transparent;
    border: none;
    width: 300px;
    height: 30px;
    margin-left: 30px;
    opacity: 1;
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: #7C7C7C;
    line-height: 30px;
    letter-spacing: 0%;



}

.hero__input::placeholder {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: #7C7C7C;
    line-height: 30px;
    letter-spacing: 0%;



}

.hero__search-btn {
    width: 176px;
    height: 60px;
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    color: #1D1C20;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: #F2F2F2;
    border-radius: 100px;
    cursor: pointer;
}

.users {


    text-align: center;

    gap: 30px;
}

.hero__user-txt {
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 13.89px;
    color: #9B9CA1;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.balance {
    display: grid;
    width: 1036px;
    height: 500px;
    margin: 0 auto;
    opacity: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.8fr;
    grid-template-areas:
        " box1 box1 box2 box2 box3 box3 "
        " box4 box5 box5 box5 box5 box6 "
    ;
    gap: 15px;

}

.box {
    background-color: #1A1A1A;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #242424;
    display: flex;
    justify-content: center;

    color: white;
    font-size: 24px;
    font-weight: bold;
}

.box:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    grid-area: box1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    grid-area: box2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
    grid-area: box3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
    grid-area: box4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: start;
}

.box:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
    grid-area: box5;
    padding: 0px;
}

hr {
    background-color: #242424;
    height: 1px;
    border: none;
    margin: 5px 0px;
}

.box:nth-child(6) {
    grid-column: 3/4;
    grid-row: 2/3;
    grid-area: box6;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;

}

.balance__prof {
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.balance__txt {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: #F5F5F5;
    line-height: 30px;
    letter-spacing: 0%;


}

.balance__plus {
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #72A700;
    line-height: 16px;
    letter-spacing: 0%;

}

.balance__m {
    display: flex;
    gap: 60px;
}

.balance__btn {
    width: 208px;
    height: 40px;
    border: none;
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #1D1C20;
    line-height: 20px;
    letter-spacing: 0%;

    border-radius: 8px;

}

.balance__chiziq {
    width: 102.5%;
    height: 100%;
    object-fit: cover;
    margin-left: 13px;
}